<div id="particles-js">
    <div class="AboutUs">
      <br>
      <h1>
      Connect and Create:
      </h1>
      <br>
      <p>
      Out there is a programmer who develops games in their free time, an artist who is an avid gamer, and a composer-producer who has always wanted to work on a game. Or a singer who wants art and video to go with their original song. Or someone who wants to construct a campaign complete with visuals to help illustrate their worthy cause. CreateHUB intends to bring together these creators and connect them on like-minded projects in both the amateur and professional scenes. 
      </p>
      <br>
      <p>
      The way creators currently come together involves investing time and interaction on sites such as Twitter, Instagram, ArtStation, SoundCloud, GitHub and a dose of luck in discovering a fellow creative who fits into their dream project. Even then, it is difficult to know whether or not someone would be willing and available to take on a project. CreateHUB's motivation is to cultivate a centralized space for singers, artists, programmers, video editors, composers, creators from all tracks to collaborate on projects like music, comics, videos, and games.
      </p>
      </div>
  </div>
