
<div>

  <br />
  <div class="jumbotron">
    <p>
        ##GitHub: https://github.com/vitr2218/HackCUProject
        <br>
        ## Inspiration
        Connect and Create: 
        Out there is a programmer who develops games in their free time, an artist who is an avid gamer, and a composer-producer who has always wanted to work on a game. Or a singer who wants art and video to go with their original song. Or someone who wants to construct a campaign complete with visuals to help illustrate their worthy cause. CreateHUB intends to bring together these creators and connect them on like-minded projects in both the amateur and professional scenes. 
        
        The way creators currently come together involves investing time and interaction on sites such as Twitter, Instagram, ArtStation, SoundCloud, GitHub and a dose of luck in discovering a fellow creative who fits into their dream project. Even then, it is difficult to know whether or not someone would be willing and available to take on a project. CreateHUB's motivation is to cultivate a centralized space for singers, artists, programmers, video editors, composers, creators from all tracks to collaborate on projects like music, comics, videos, and games.
        
        ## What it does
        Provides a way for creators to explore potential projects in the marketplace and display a portfolio. Users can sign up using typeform.
        
        ## How we built it
        HTML/CSS, Javascript, typeform (signup), firebase as the database for user data and host for the web app, node packages, express, angular
        
        ## Challenges we ran into
        We were unfamiliar with using typeform and firebase so everything was a learning experience. Also, agreeing on an idea was difficult and time consuming.
        
        ## Accomplishments that we're proud of
        Building something and working with tools we've never used before. We're proud that we were able to pass data between typeform on the website and firebase. We really pushed ourselves by learning new things instead of sticking to what we already know.
        
        ## What we learned
        Firebase, typeform, HTML/CSS/Javascript hacks, angular
        
        ## What's next for CreateHUB
        World takeover. 
    </p>
  </div>
</div>