<div id="main">
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
  <a class="typeform-share button" href="https://developerplatform.typeform.com/to/ujbFTK" data-mode="popup"
    style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;
     cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:40px;
     text-align:center;margin:5;height:40px;padding:0px 23px;border-radius:25px;max-width:100%;
     white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;" target="_blank">Sign Up</a>
     <a href="signin">Sign In</a>
  <script> (function () {
      var qs, js, q, s, d = document,
        gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) }
    })() </script>

</div>
<div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:230px;">
    <ul class="nav navbar-nav">
      <li><a routerLink="index">Home</a></li>
      <li><a routerLink="about">About us<span class="sr-only">(current)</span></a></li>
      <li><a routerLink="contact">Collaborations</a></li>
      <li><a routerLink="marketplace">Marketplace</a></li>
      <li><a routerLink="jobs">Jobs</a></li>
      <li><a routerLink="contact">Contact us</a></li>
      
      <li><form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form></li>
    </ul>
  </nav>

</div>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">Profile</a>
  <a href="#">Projects</a>
  <a href="#">Connections</a>
  <a href="#">Settings</a>
</div>

<app-sign-in></app-sign-in>