<div id="particles-js">
  <div class="AboutUs"><h1>LOOKING FOR BACKEND DEVELOPER</h1><img src= "assets/ExampleProj1.png" alt = "blooby" style = "max-width:100%;
    max-height:100%;"><p>Contact Info:</p><p>Elizabeth Qui</p><p>https://github.com/qlychee</p>
   <br>
   <br>
   <br>
   <h1>Seeking Videographer for Global Engineering Project Promo</h1><img src= "assets/ExampleProj2.png" alt = "blooby" style = "max-width:100%;
    max-height:100%;"><p>Contact Info:</p><p>Colleen Dunlap</p><p>https://github.com/colleenDunlap</p>
   <br>
   <br>
   <br>
   <h1>Approachable Boy Next Door Spokesperson Auditions</h1><img src= "assets/ExampleProj3.png" alt = "blooby" style = "max-width:100%;
    max-height:100%;"><p>Contact Info:</p><p>Josh</p><p>https://github.com/ChatHelper</p>
    </div>
    
</div>